@{
    ViewData["Title"] = "Home Page";
    var results = ViewData["listresult"];
}

<div class="text-center">
    <img src="/img/header.png" alt="Icon" class="">

    <h3>Youtube Video Downloader</h3>
    <hr>

</div>

<div class="main">

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Search</label>
            <input type="text" class="form-control" id="keyword">
        </div>
        <button type="button" class="btn btn-primary mb-2" onclick="searchVideos()">Search</button>
    </form>

    <br>

    <div id="searchResults">

    </div>

 
</div>
@section Scripts
{
    <script src="/js/home.js"></script>
}


