@{
    ViewData["Title"] = "Home Page";
    var results = ViewData["listresult"];
}
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
       <a asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a>
       <a id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Logout</a>
    }
    else
    {
      <a id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a>
    }
   
</div>
<div class="text-center">

    <h1>Youtube Video Downloader</h1>
    <hr>

</div>

<div class="text-center main">
    @if (User.Identity.IsAuthenticated)
    {
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Search</label>
                <input type="text" class="form-control" id="keyword">
            </div>
            <button type="button" class="btn btn-primary mb-2" onclick="searchVideos()">Search</button>
        </form>

    }
    else
    {
        <p>Bạn cần phải đăng nhập</p>
    }

    <br>

    <div id="searchResults">

    </div>


</div>
@section Scripts
{
    <script src="/js/home.js"></script>
}
